/* all the fonts I am using here */

/* Font_1 */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Roboto', sans-serif; */


/* font_2 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font-family: 'Ubuntu', sans-serif; */

/* banner sectiions font */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

/* font-family: 'Lexend', sans-serif; */

/* lexend second and lighter one */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

/* font-family: 'Lexend', sans-serif; */



/* the button root element */


.btn_primary{
    background-color: rgb(2, 182, 77);
    padding: 12px;
    border-radius: 8px;
    border: 0;
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    cursor: pointer;
}

body{
    width: 80%;
    margin: auto;
    font-family: 'Lexend', sans-serif;
}


header{
    width: 100%;
    margin: 30px auto;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: auto;

}

.Logo{
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    font-family: 'Lexend', sans-serif;
}

.navbar li a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}

/* banner sectiion */

.banner{
    background-image: linear-gradient(90deg, #032027c7 0%, rgba(21, 21, 21, 0.00) 129.32%), url('images/banner_.jpg');
    height: 700px;
    width: 100%;
    border-radius: 20px;background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 30px;
}

.banner_content{
    color: rgb(255, 255, 255);
    width: 25%;
    padding: 10%;
}

.banner_content button{
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
}

.banner_content h1{
    font-size: 35px;
    margin-bottom: 30px;
}

.banner_content p{
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
}

.banner img{
    width: 100%;
}

.btn_2{
    border-radius: 20px;
    font-family: 'Lexend', sans-serif;
}

/* about seciton */


.about{
    display: flex;
    gap: 10px;
    align-items: center;
    width: auto;
    flex-wrap: nowrap;
}

.image{
    width: 50%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 100%;
}


.flex_pro_market{
    display: flex;
    gap: 20px;
}

.professinal{
    display: flex;
    background-color: rgba(255, 73, 116, 0.05);
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 10px;
}

.images_pro{
    width: 100%;
}

.images_pro img{
    width: 150px;
    border-radius: 20px;
}

.market{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(8, 197, 115, 0.05);;
    width: 50%;
    padding: 10px;
}

.image_market{
    width: 100%;
}
.images_pro img{
    width: 150px;

}

.image_market img{
    width: 150px;
    border-radius: 20px;
}

/* service section styling */
.service_container{
    display: flex;
    font-family: 'Lexend', sans-serif;
    gap: 10px;
}

.heading{
    width: 50%;
}

.colorful{
    color: rgb(2, 182, 77);
    
}

.left img{
    border-radius: 5px;
}

.right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.right img{
    width: 80px;
}

.right > div{
    background-color: rgba(245, 222, 179, 0.212);
    padding: 10px;
    color: rgb(2, 1, 1);
    border-radius: 5px;
}









/* media query works are started from here */
