body{
    background-color: wheat;
    margin: auto;
}

.contents{
    width: 70%;
    margin: auto;
}

.ball_1{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(71, 194, 0, 0.295);
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 25%;
}
.login{
    position: relative;
    width: 40%;
    margin: 20% auto;
    background-color: rgba(71, 194, 0, 0.425);
    padding: 20px;;
}

#email, #password{
    display: flex;
    margin: auto;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.down_town{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.forgot a{
    text-decoration: none;
    color: white;
}

button{
    margin: auto;
    display: flex;
    margin-top: 20px;
    padding: 5px 50px;
    border: 0;
    background-color: black;
    color: white;
}