/* big screen responsive */
@media screen and (max-width:1450px) and (min-width:1081px)  {
    .products{
        grid-template-columns: repeat(4,1fr);
    }

    .upcoming{
        grid-template-columns: repeat(4,1fr);
    }
}

/* tablet sizing */
@media screen and (max-width:1080px){
    .products{
        grid-template-columns: repeat(3,1fr);
        margin-top: 30px;
    }

    .upcoming{
        grid-template-columns: repeat(3,1fr);
    }
}

/* 600*------1070 */

/* mobile sizing */

@media screen and (max-width:600px) {
    body{
        width: 100%;
    }   

    header{
        background-color: wheat;
        padding: 0 10px;
        width: 100%;
    }

    .hov_links{
        display: inline;
        cursor: pointer;
    }

    .hov_links:hover .header ul{
        display: block;
        
    }

    .header ul{
        display:none;
    }



    .products{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        margin-top: 30px;
    }

    .upcoming{
        grid-template-columns: repeat(1,1fr);
    }

    .email{
        border-radius: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .subs{
        border-radius: 20px;
    }

    .why_us{
        padding: 20px;
    }

    footer{
        padding: 20px;
    }
    footer .links img{
        width: 80px;
        margin: 10px;
    }
}