/* laptop sizing */
@media screen and (max-width:1400px) {
    .products{
        grid-template-columns: repeat(4,1fr);
    }

    .upcoming{
        grid-template-columns: repeat(4,1fr);
    }
}

/* tablet sizing */
@media screen and (max-width:1080px) and (min-width:601) {
    .products{
        grid-template-columns: repeat(3,1fr);
    }

    .upcoming{
        grid-template-columns: repeat(3,1fr);
    }
}


/* mobile sizing */

@media screen and (max-width:600px) {
    body{
        width: 90%;
    }   
    .header{
        flex-direction: column;
        text-align: center;

    }

    .header ul{
        flex-direction: column;
        margin-top: 20px;
    }

    .products{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
    }

    .upcoming{
        grid-template-columns: repeat(1,1fr);
    }

    .email{
        border-radius: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .subs{
        border-radius: 20px;
    }

    .why_us{
        padding: 20px;
    }

    footer{
        padding: 20px;
    }
    footer .links img{
        width: 80px;
        margin: 10px;
    }
}