/* font style */
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

/* font famyly */
/* font-family: 'Jomolhari', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    font-family: 'Jomolhari', serif;

}

/* header section styling starts */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.header .logo{
    font-size: 25px;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header li {
    margin-left: 30px;
    font-size: 20px;
}

.header li a {
    text-decoration: none;
    color: black;

}

/* header section styling ends */

/* banner styling starts here */

.banner{
    width: 80%;
    height: 500px;
    margin: auto;
}

.banner img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* banner styling ends here */

/* latest products section styling starts here */

.latest_products{
    text-align: center;
    margin: 40px auto;
}

.products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
}

.products .imgs img{
    width: 250px;
    height: 250px;
}
/* latest products section styling ends here */